h1 {color: gold};
h2 {color: red;}
h3 {color: deeppink;}
h4 {color: darkgreen;}
h5 {color: blue;}
h6 {color: brown;}
h1 {text-align: center;}
#mario {margin-left: 14%;}
h2 {text-align: center;}
#ml {margin-left: 25%;}
h3 {text-align: center;}
#pr {margin-left: 37%;}
h4 {text-align: center;}
#bs {margin-left: 30%;}
h5 {text-align: center;}
#cog {margin-left: 30%;}
h6 {text-align:center;}
#gorilla {margin-left: 35%;}
#gorilla {width: 35%;}
#cog {width: 45%;}
#pr {width: 40%;}
#pr {width: 25%;}
#ml {width: 50%;}
h2 {font-size: 200%;}
h3 {font-size: 200%;}
h4 {font-size: 200%;}
h5 {font-size: 200%;}
h6 {font-size: 200%;}
p {font-size: 150%;}
p {text-align: center;}
h1 {border: solid 3px rgb(255, 217, 0);}
h2 {border: solid 3px green;}
h3 {border: solid 3px rgb(255, 0, 157);}
h4 {border: solid 3px rgb(185, 84, 2);}
h5 {border: solid 3px rgb(255, 38, 0);}
h6 {border: solid 3px black;}
#mario {border: solid 3px black}