h2 {color: red;}
h3 {color: deeppink;}
h4 {color: darkgreen;}
h5 {color: blue;}
h6 {color: brown;}
h1 {text-align: center;}
#mario {margin-left: 13%;}
h2 {text-align: center;}
#ml {margin-left: 35%;}
h3 {text-align: center;}
#pr {margin-left: 28%;}
h4 {text-align: center;}
#bs {margin-left: 30%;}
h5 {text-align: center;}
#cog {margin-left: 40%;}
h6 {text-align:center;}
#gorilla {margin-left: 30%;}
#gorilla {width: 35%;}
#cog {width: 45%;}
#pr {width: 40%;}
#pr {width: 25%;}
#ml {width: 50%;}
h2 {font-size: 200%;}
h3 {font-size: 200%;}
h4 {font-size: 200%;}
h5 {font-size: 200%;}
h6 {font-size: 200%;}
p {font-size: 150%;}
p {text-align: center;}